</div>
</div>
<br> <br>
<hr>
<p class="text-center">&copy; InstaWebCMS |
    <script type="text/javascript">
        document.write(new Date().getFullYear());
    </script>
</p>

<!-- Bootstrap core JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>

</body>

</html>